.login {
  .login__container {
    background-image: url(../images/1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;

    .form__container {
      display: flex;
      flex-direction: row;
      width: 800px;
      height: 600px;
      background-color: #ffff;
      box-shadow: 0 3px 10px #00000080;
      border-radius: 7px;
      box-sizing: border-box;
    }

    .form__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #f8f4f4;
      width: 250px;

      .logo {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }

    .form__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #c52933;
      width: 550px;

      .faceRecognitionPage__form {
        margin: auto;
        width: 350px;
        height: 300px;
        box-shadow: 0 3px 10px #00000080;
        background-color: #fff;
        border-radius: 10px;

        .faceRecognition_submit {
          margin: 1em 0.4em;

          .submit__box {
            width: 100%;
            height: 2.2em;
            background-color: #1751f0;
            color: #ffff;
            font-weight: 600;
            border-radius: 8px;
            border: 1px #f8f4f4;
            padding-left: 10px;
            cursor: pointer;
          }
        }

        .tittle {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-top: 2em;
          gap: 12px;
          font-weight: 800;
          font-size: 1.2em;

          .tittle__up {
            color: #000000;
          }
        }

        .selectEmployee {
          display: flex;
          flex-direction: column;
          margin: 30px 0 0 24px;
          .descChoice {
            margin-top: 2em;
            gap: 12px;
            font-weight: 800;
            font-size: 1em;
          }
          .dropdown__employee {
            margin-top: 1em;
            background-color: #fff;
            height: 55px;
            width: 300px;
            border-radius: 8px;
            border: 1px solid #e0e0e0;
            padding: 0 20px 0 10px;

            option {
              color: #333;
              background-color: #fff;
              font-size: 14px;
              padding: 20px 20px;
            }
          }
        }
      }

      .faceRecognitionPage__form {
        margin: auto;
        width: 480px;
        height: 500px;
        box-shadow: 0 3px 10px #00000080;
        background-color: #fff;
        border-radius: 10px;

        .tittle {
          display: flex;
          flex-direction: column;
          text-align: center;
          margin: 1em 0 1em 0;
          gap: 12px;
          font-weight: 800;
          font-size: 1.2em;
        }

        .selectEmployee {
          display: flex;
          flex-direction: column;
          margin: 30px 0 0 24px;
          .descChoice {
            margin-top: 2em;
            gap: 12px;
            font-weight: 800;
            font-size: 1em;
          }
          .dropdown__employee {
            margin-top: 1em;
            background-color: #fff;
            height: 55px;
            width: 300px;
            border-radius: 8px;
            border: 1px solid #e0e0e0;
            padding: 0 20px 0 10px;
          }
        }
      }

      .informationPage__form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 380px;
        height: 140px;
        box-shadow: 0 3px 10px #00000080;
        background-color: #fff;
        border-radius: 10px;

        .tittle {
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 12px;
          font-weight: 800;
          font-size: 1em;
          margin-top: -10px;

          .tittle__bottom {
            font-size: 0.9em;
            padding: 0 10px 0 10px;
            font-weight: 500;
          }
        }
      }

      .submit {
        margin: 1.6em 1em;

        .submit__box {
          width: 100%;
          height: 2.2em;
          background-color: #1751f0;
          color: #ffff;
          border-radius: 8px;
          border: 1px #f8f4f4;
          padding-left: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
